@import '../../variables';

.vote {
  display: flex;
  border: 2px solid $white-color;
  height: 100vh;
  min-width: 76.8rem;
  flex-direction: column;
  &__list {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item {
      align-items: center;
      background-color: $dark-grey-color;
      flex: 1;
      height: 100%;
      justify-content: center;
      display: flex;

      &--clear {
        justify-content: center;
        background-color: $grey-color;
      }

      &__mask {
        display: flex;
        list-style: none;
        border-radius: 100% 100% 100% 0;
        overflow: hidden;
        width: 30rem;
        height: 30rem;
        transform: rotate(-48deg);
        transform-origin: center;
        border: 0.6rem solid $white-color;
        cursor: pointer;

        span {
          height: 360px;
          display: flex;
          transform: rotate(48deg) translateX(-4rem) translateY(3rem);
          transform-origin: center;
          width: 360px;

          img {
            min-height: 100%;
            min-width: 100%;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
  &__counter{
    align-self: center;
    background: $grey-color;
    box-shadow: inset 0px 3px 5px 0px #e7e6e6;
    bottom: 0;
    color: $blue-color;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    min-width: 12rem;
    text-align: center;
    flex-direction: column;
    a{
      font-size: 1.6rem;
      text-decoration: none;
      color: $blue-color;
    }
  }
}
